@keyframes enter{
    from {opacity: .1; transform: scale(.9)}
    to {opacity: 1; transform: scale(1)}
}

.about{
    margin: 1em 10em 5em 5em;
    font-size: 1.2em;
    .article{
        margin-bottom: 2em;
    }
    p{
        color: #332;
    }
    animation-name: enter;
    animation-duration: 1s;
}

.about-video {
    text-align: center;
    padding: 1em;
}
@media screen and (max-width: 780px) {
    .about{
        padding: 5em 0 0 0;
        margin: 0;
    }
    .about-video {
        max-width: 90vw;
        iframe {
            max-width: 100vw;
            max-height: 30vh;
            z-index: -1;
        }
    }
    .about-content{
        max-width: 100vw;
    }
}

@media screen and (max-width: 440px) {
    .videos {
        padding: 0;
        padding-top: 3em;
        margin: auto;
    }
}