<section id="about" class="presentation about">
  <h2 i18n="@@aboutHeader">About myself</h2>
  <div  class="about-video">
      <iframe width="690" height="388" src="https://www.youtube.com/embed/Y60M18S4VU0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <p i18n="@@aboutParagraph1">
    My name is Geocarlos. I have worked as an English-Portuguese translator since 2007. In 2009, with ICanLocalize, an
    online translation/localization service provided by OnTheGo Systems, which is a company based in Las Vegas, I
    started working in projects for the localization of mobile applications, especially iOS and Android apps, and
    websites. I have a degree in English and Portuguese language and literature, and a graduate certificate in
    English-Portuguese translation.</p> 
  <p i18n="@@aboutParagraph2">
    In August 2017, I completed a undergraduate program in system development. I have
    developed some skills in Java, JavaScript (DOM and Node, with Express) and TypeScript (with Angular and Ionic). I
    have learned and praticed Ionic and Cordova on my own, developing hybrid mobile apps. </p>
  <p i18n="@@aboutParagraph3">
    Besides translation projects,
    I am also interested in entry level jobs as a software developer. As an English-Portuguese translator, I have a vast
    experience, including projects with over 100,000 words. Some of the companies I have worked with through
    ICanLocalize are HunterLab (website, PDF brochures), SkyFold (website), Kakao (iOS and Android app), Entec Polymers
    (website), Grand Hotel et de Milan, to mention just a few. I am willing to take tests before getting hired for any
    project.
  </p>
</section>
<app-footer></app-footer>