.articles{
    margin: auto;
    padding-top: 7%;
    max-width: 80%;
    font-size: 1.2em;
    .article{
        margin-bottom: 2em;
    }
}

.read-more {
    padding: 1em 0 0 0;
    a {
        color: #213c81ee;
        text-decoration: none;
        padding: .5em;
        border: solid thin;
        border-radius: .5em;
    }
}

@media screen and (max-width: 950px) {
    .articles {
        min-width: 100%;
    }
}

@media screen and (max-width: 780px) {
    .articles{
        padding: 5em .5em .5em .5em;
    }
}

@media screen and (max-width: 440px) {
    .articles {
        margin: auto;
    }

    .read-more {
        text-align: center;
        a {
            padding: 5px;
        }
    }
}