.login-container{
    display: flex;
    padding: 5em 2em 2em 2em;
    margin: auto;
    align-items: center;
    justify-content: center;
    .fields {
        padding: 3px 0 3px 0;
        input{
            width: 100%;
        }
    }
    .submit-button{
        display: flex;
        justify-content: center;
        padding: 3px 0 3px 0;
        button{
            width: 100%;
        }
    }
}