header {
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 1;
  }
  
  .menu {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 2/13;
    background: linear-gradient(to right, #213c8177, #213c8199,  #213c81bb);
    height: 100%;
    border-radius: 2.5em 0em 2.5em 0em;
    column-gap: 1em;
    ul{
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      list-style: none;
      align-items: center;
      justify-items: end;
      grid-column-start: 6;
      grid-column-end: 13;
      column-gap: 1.5rem;
    }
    a {
      color: #fefefeff;
      text-decoration: none;
      border-radius: 1.2em 0em 1.2em 0em;
      padding: 0.5em;
      &:hover {
          background-color: #f59624ff;
        }
    }
  }
  
  nav {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 0.5em;
    align-items: center;
    background-color: #213c8166;
    #logout-btn{
      border-radius: .5em;
      padding: .3em;
      border: solid thin #333;
    }
  }

  .toggle-menu {
    display: none;
    width: 30%;
    justify-content: center;
    position: absolute;
    right: 5%;
    background-color: #213c8166;
    ul {
      list-style: none;
      padding: .5em;
      li {
        padding: .2em;
        a {
          padding: 2px;
          color: #fefefeff;
          text-decoration: none;
        }
      }
    }
  }
  
  #logo {
    height: 4em;
  }

  .active {
    background-color: #f59624ff;
  }

  #sandwich{
    display: none;
    img {
      width: 30px;
    }
  }

  @media screen and (max-width: 1050px) {
    .menu {
      z-index: 1;
      ul{
        grid-column-start: 3;
      }
    }
  }

  @media screen and (max-width: 780px) {
    .menu {
      ul{
        display: none;
      }
    }

    #sandwich {
      display: flex;
      grid-column-start: 11;
    }

    .toggle-menu {
      display: flex;
    }
  }

  @media screen and (max-width: 440px) {
    #sandwich {
      grid-column-start: 9;
    }
    #logo {
      height: 3em;
    }
  }
  
  @media screen and (max-width: 330px) {
    #sandwich {
      grid-column-start: 7;
    }
  }