  #home{
    background: url("../../../assets/images/laptop-1031224_1920.jpg");
  }
  
  #go-down{
    position: absolute;
    top: 90%;
    right: calc(50% - 35px);
    img{
      width: 2em;
      &:hover{
        width: 2.1em;
        opacity: .9;
      }
    }
  }
  
  .section-text{
      padding: 2.5em; 
      max-width: 90%;
      background-image: linear-gradient(to bottom, #ccc9, #fff1);
      border-radius: 2.5em 0em 2.5em 0em;
  }