<div class="home-page">
  <div class="container">
    <section id="home" class="presentation">
      <div class="section-text">
        <h1>{{activeSection.title}}</h1>
        <p>{{activeSection.subtitle}}</p>
      </div>
      <div id="go-down">
        <a href="#homecontent"><img src="assets/images/down_icon.svg" alt="go down"></a>
      </div>
    </section>
  </div>
  <div class="container">
    <section id="homecontent" class="presentation">
      <h1>This is where I will put some content for the home page.</h1>
    </section>
  </div>
</div>
<app-footer></app-footer>