<!-- Reactive or model-based form -->
<div class="new-article">
  <form (ngSubmit)="createArticle()" [formGroup]="form"  autocomplete="off">
    <label for="title">Title:</label>
    <input id="title" type="text" name="title" formControlName="title" >
    <label for="content">Content: </label>
    <textarea id="content" name="content" rows="10" formControlName="content"></textarea>
    <label for="language">Language: </label>
    <select id="language" name="language" formControlName="language" >
      <option value="en">English</option>
      <option value="pt">Portuguese</option>
    </select>
    <label for="category">Category: </label>
    <div formGroupName="category">
      <select id="category" type="text" name="category" formControlName="id">
        <option 
          *ngFor="let category of categories" 
          [value]="category.id">{{ category.name }}</option>
      </select>
    </div>
    <button  type="submit">Create Article</button>
  </form>
  <button class="add-category" (click)="showNewCategoryForm()">Add Category</button>
</div>
<app-create-category [(isNewCategoryFormShown)]="isNewCategoryFormShown" *ngIf="isNewCategoryFormShown">
</app-create-category>
<pre>{{ form.value | json }}</pre>