* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body{
  height: fit-content;
  min-height: 100%;
}

.wrapper{
  display: grid;
  min-width: 100%;
  min-height: 100%;
}

.container{
    height: fit-content;
    min-width: 100%;
    min-height: 100vh;
    background-color: #efefefff;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: center;
    background-size: cover;
}

.article-content {
  color: #332;
}

.presentation {
  font-size: 2em;
  color: #213c81ee;
  padding: 3em 0 2em 3em;
  margin: 0;
  min-height: 100vh;
}

.hidden {
  display: none;
}


@media screen and (max-width: 780px) {
  .presentation {
    font-size: 2em;
    padding: 5em .5em 1em 1em;
  }
}

@media screen and (max-width: 440px) {
  .presentation {
    font-size: 1.2em;
    padding: 5em .5em 1em .5em;
  }
}

@media screen and (max-height: 360px){
  .presentation {
    padding-top: 2.7em;
  }
}
