<div class="container">    
  <section id="videos" class="presentation videos">
    <h1 i18n="@@videosHeader">Videos</h1>
    <div class="video" *ngFor="let video of videos">
      <h2>{{ video.title }}</h2>
      <iframe width="870" height="490" 
        [src]="sanitizer.bypassSecurityTrustResourceUrl(youtubeUrl + video.youtubeId)" frameborder="0" 
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="description">{{ video.description }}</div>
      <div class="manage" *ngIf="!auth.isAccessTokenInvalid()">
          <a routerLink="/edit-video/{{video.id}}">Edit</a>
          <a style="cursor: pointer; text-decoration: underline" (click)="deleteVideo(video.id)">Delete</a>
        </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
