<footer>
  <img src="./assets/images/Coding1.png">
  <div (click)="goToTop()" id="to-top">
    <p i18n="@@footerTop">Top</p>
  </div>
  <div class="online-presence">
    <div>
      <a href="https://github.com/geocarlos" target="_blank">
        <img src="./assets/images/github.svg" alt="GitHub">
      </a>
    </div>
    <div>
      <a href="https://www.linkedin.com/in/geocarlos-alves-07a50377/" target="_blank">
        <img src="./assets/images/linkedin.svg" alt="LinkedIn">
      </a>
    </div>
    <div>
      <a href="https://www.youtube.com/channel/UCSPda1UaJxytMPx7BoLWT3Q" target="_blank">
        <img src="./assets/images/YouTube.svg" alt="YouTube">
      </a>
    </div>
    <div>
      <a href="https://www.facebook.com/geocarlos.alves" target="_blank">
        <img src="./assets/images/facebook.svg" alt="Facebook">
      </a>
    </div>
    <!-- <div>ICanLocalize</div>
    <div>Upwork</div> -->
  </div>
  <div class="language-note">
    <button (click)="changeLanguage()">{{ languageNote }}</button>
  </div>
  <p class="footer-name-year">Geocarlos, 2019</p>
</footer>